@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eeeeee;
    font-size: 14px;
    padding-top: 70px;
    /* évite que le contenu passe sous la navbar fixed */
}

a {
    text-decoration: none !important;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #242526;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu, .mega-box {
    position: absolute;
    background: #242526;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu {
    width: auto;
    line-height: 45px;
}

.drop-menu li a {
    display: block;
    padding: 0 15px;
    font-weight: 400;
    color: #d9d9d9;
}

.mega-box {
    left: 0;
    width: 100%;
    padding: 0 30px;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row img {
    width: 100%;
    object-fit: cover;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li a {
    color: #d9d9d9;
    font-size: 17px;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

/* -------- Responsive -------- */
@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 350px;
        height: 100vh;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        transition: all 0.3s ease;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
    }

    .nav-links .drop-menu, .mega-box {
        position: static;
        opacity: 1;
        visibility: visible;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .mega-box .content {
        flex-direction: column;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
    }
}

nav input {
    display: none;
}

/* ---- Ton ancien style complémentaire si nécessaire ---- */
.container-fluid {
    margin-top: 70px;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.img-sm {
    width: 80px;
    height: 80px;
}

.price {
    font-weight: 600;
    color: #212529;
}

.text-muted {
    color: #969696 !important;
}


/* Cart */

/* list group */
.list-group-item {
    --bs-list-group-item-padding-x: 0;
    --bs-list-group-border-width: 0;
}


/* Dropdown */
.dropdown-menu {
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-border-width: 0;
}

.dropdown-item {
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-link-color: var(--bs-black);
  --bs-dropdown-item-border-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  --bs-dropdown-link-active-color: var(--bs-light);
  --bs-dropdown-link-active-bg: var(--bs-black);
}
